.theme-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
}

.form-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.input-container input {
  padding: 12px 20px 12px 40px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-container input:focus {
  border-bottom: 2px solid #4caf50;
  outline: none;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 12px 0;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}
.forget-password {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  align-items: 'center';
  justify-content: 'center';
}

@media screen and (max-width: 767px) {
  .form-container {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .form-container {
    width: 80%;
  }
}
